      body
        {
            background-image:url('http://localhost:34977/GarbageCleaningSystem/images/Nature-green-blurred-background.jpg');
            background-repeat:no-repeat;
            background-size:cover;
            background-color:green;
            padding-top:30px;
            padding-bottom:20px;
        }
        *
        {
            margin:0px;
            padding:0px;
        }
        #outer
        {
            height:auto;
            width:1000px;
            margin:0px auto; 
           
        }
        #header
        {
            height:130px;
            width:1000px;
            float:left;
            border-radius:20px 20px 0px 0px;
            background-color:white;
        }
        #logo
        {
            height:130px;
            width:150px;
            float:left;       
        }
        #sitetitle
        {
            height:92px;
            width:850px;
            float:left;
            font-family:'Baskerville Old Face';
            font-size:50px;
            text-align:center;
            color:green;
            padding-top:38px;
            text-shadow:2px 2px 2px black;
        }
        #menu
        {
            height:50px;
            width:1000px;
            float:left;
            margin-top:5px;
            background-color:#DCDCDC;
            }
        #main
        {
            height:746px;
            width:1000px;
            float:left;
             background-color:white;
            margin-top:5px;
            border-radius:0px 0px 20px 10px;
        }
        #Lmain
        {
            height:730px;
            width:140px;
            float:left;
            margin:5px;
            box-shadow:2px 2px 2px 2px #DCDCDC;
            text-shadow:1px 1px 1px black;
            color:gray;
            font-size:18px;
            font-family:Georgia;
            text-align:center;
            padding-top:10px;
        }
        #Rmain
        {
            height:750px;
            width:850px;
            float:left;
        }
        #footer
        {
            height:235px;
            width:1000px;
            background-color:#f0f2ee;
            float:left;
            margin-top:3px;
            border-radius:10px 10px 0px 0px;
            color:#808080;
            font-size:18px;
        }
        #f1
        {
            height:215px;
            width:300px;
            float:left;
            padding:10px;
            padding-left:25px;
        }
        #f2
        {
            height:215px;
            width:313px;
            float:left;
            padding-top:10PX;
        }
        #f3
        {
            height:215px;
            width:313px;
            float:left;
            padding:10px;
        }
        #Mainfooter
        {
            height:35px;
            width:1000px;
            float:left;
            background-color:gray;
            margin-bottom:40px;
            border-radius:0px 0px 10px 10px;
            text-align:end;
            padding-top:5px;
            color:white;
            text-shadow:1px 1px 1px black;
            font-size:20px;
        }